<button nz-button nzType="primary" (click)="showLarge()">
  <span nz-icon nzType="plus"></span>
  Tạo mới
</button>
<app-digitop-drawer [title]="state + ' danh mục FAQs'" [visible]="visible" [size]="size" (onConfirm)="confirmDrawer()"
  (onLeave)="close()">
  <ng-container content>
    <nz-spin [nzSpinning]="isLoading">
      <form nz-form [nzLayout]="'inline'" [formGroup]="customerCareTypeForm" (ngSubmit)="confirmDrawer()">
        <div nz-row [nzGutter]="[hGutter, vGutter]">
            <div nz-col class="gutter-row" [nzSpan]="24">
              <nz-form-item>
                <nz-form-control>
                  <app-digitop-upload [fileList]="image" [title]="'Hình ảnh'"
                    (changeFile)="changeFileUpload($event, 'image')" [multiple]="false"></app-digitop-upload>
                </nz-form-control>
              </nz-form-item>       
            </div>
        </div>  
        <div nz-row [nzGutter]="[hGutter, vGutter]">
          <div nz-col class="gutter-row" [nzSpan]="12">
            <nz-form-item>
              <nz-form-control>
                <nz-form-label [nzSpan]="'vertical'">Tên <span class="required">(*)</span></nz-form-label>
                <nz-input-group>
                  <input formControlName="name"
                    [ngClass]="submitted && customerCareTypeForm.get('name')?.errors ? 'ant-input-status-error ng-invalid' : ''"
                    nz-input placeholder="Tên" (ngModelChange)="onChangeName()"/>
                </nz-input-group>
                <div *ngIf="submitted && customerCareTypeForm.get('name')?.errors" class="input-text-error">
                  <span>Vui lòng nhập tên</span>
                </div>
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col class="gutter-row" [nzSpan]="12">
            <nz-form-item>
              <nz-form-control>
                <nz-form-label [nzSpan]="'vertical'">Đuôi URL(Tự động) <span class="required">(*)</span></nz-form-label>
                <nz-input-group>
                  <input formControlName="slug" class="disabled-ip" nz-input placeholder="Slug" readonly/>
                </nz-input-group>
              </nz-form-control>
            </nz-form-item>
          </div>
        </div>   
      </form>
    </nz-spin>
  </ng-container>
</app-digitop-drawer>