<div class="product" #mainScreen>
  <nz-row [nzGutter]="16" class="head-table">
    <div nz-col class="gutter-row pl-0" [nzSpan]="12">
      <h3 style="padding-top: 6px;padding-left: 0;">PRODUCT ({{paginator.total}})</h3>
    </div>
    <div nz-col class="gutter-row filter-group" [nzSpan]="12">
      <app-create-edit-product #editForm (onSuccess)="onSuccess()" [categories]="categories"></app-create-edit-product>
      <button nz-button nzType="default" class="second-background" (click)="onExport()">
        <span nz-icon nzType="download"></span>
        Export excel
      </button>
    </div>
  </nz-row>
  <div class="filter">
    <app-filter-product (onFilter)="onFilter($event)"></app-filter-product>
  </div>
  <nz-table 
    (nzQueryParams)="tableChange($event)" 
    [nzScroll]="{ y: 'calc(100vh - 310px)' }" 
    #tableProduct 
    [nzTotal]="paginator.total" 
    [nzPageSize]="paginator.limit" 
    [nzPageIndex]="paginator.currentPage" 
    nzOuterBordered 
    [nzData]="listProduct" 
    nzTableLayout="fixed" 
    [nzLoading]="tableLoading"
    nzShowSizeChanger
    [nzFrontPagination]="false"
    >
    <thead>
      <tr>
        <th [nzColumnKey]="'image'">Image</th>
        <th [nzSortFn]="true" [nzColumnKey]="'name'">Name</th>
        <th [nzSortFn]="true" [nzColumnKey]="'category'">Category</th>
        <th [nzSortFn]="true" [nzColumnKey]="'price'">Price</th>
        <th [nzSortFn]="true" [nzColumnKey]="'sortOrder'">Sort Order</th>
        <th [nzSortFn]="true" [nzColumnKey]="'verified'">Verified</th>
        <th [nzSortFn]="true" [nzColumnKey]="'createdAt'">Created At</th>
        <th>Action</th>
      </tr>
    </thead> 
    <tbody *ngIf="listProduct?.length > 0">
      <ng-container *ngFor="let data of tableProduct.data">
        <tr>
          <td>
            <img style="width: 100px; cursor: pointer;" nz-image [nzSrc]="data.image" *ngIf="data.image " alt="">
          </td>
          <td>{{ data.name }}</td>
          <td>{{ data.category.name }}</td>
          <td>{{ data.price }}</td>
          <td>{{ data.sortOrder }}</td>
          <td>
            <nz-tag *ngIf="data.verified" [nzColor]="'blue'">TRUE</nz-tag>
            <nz-tag *ngIf="!data.verified" [nzColor]="'red'">FALSE</nz-tag>
          </td>
          <td>{{ data.createdAt }}</td>
          <td>
            <button nz-button nzType="primary" (click)="onEdit(data)" >
              <span nz-icon nzType="edit"></span>
            </button>
            <button nz-button nzType="primary" nzDanger
              nz-popconfirm
              [nzPopconfirmTitle]="'Are you sure delete this task?'"
              nzPopconfirmPlacement="bottom"
              (nzOnConfirm)="onDelete(data.id)"
            >
              <span nz-icon nzType="delete"></span>
            </button>
          </td>
        </tr>
      </ng-container>
    </tbody>
  </nz-table>
</div>
