<div class="role" #mainScreen>
  <nz-row [nzGutter]="16" class="head-table">
    <div nz-col class="gutter-row pl-0" [nzSpan]="12">
      <h3 style="padding-top: 6px;padding-left: 0;">QUYỀN QUẢN TRỊ ({{paginator.total}})</h3>
    </div>
    <div nz-col class="gutter-row filter-group" [nzSpan]="12">
      <app-create-edit-role #actionComponent [permissions]="permissions" (onSuccess)="onSuccess()"></app-create-edit-role>
      <button nz-button nzType="default" class="second-background" (click)="exportRole()">
        <span nz-icon nzType="download"></span>
        Export excel
      </button>
    </div>
  </nz-row>
  <div class="filter">
    <app-filter-role (onFilter)="onFilter($event)"></app-filter-role>
  </div>
  <nz-table (nzQueryParams)="tableChange($event)" [nzScroll]="{ y: 'calc(100vh - 310px)' }" #tableRole
    [nzTotal]="paginator.total" [nzPageSize]="paginator.limit" [nzPageIndex]="paginator.currentPage" nzOuterBordered
    [nzData]="data.data" nzTableLayout="fixed" [nzLoading]="tableLoading" nzShowSizeChanger
    [nzFrontPagination]="false">
    <thead>
      <tr>
        <th *ngFor="let head of data.column" nzColumnKey="{{head.dataIndex}}" [nzSortFn]="true">{{head.name}}</th>
      </tr>
    </thead>
    <tbody >
      <ng-container>
        <tr *ngFor="let renderData of data.data">
          <td *ngFor="let temp of data.column">
            <div *ngIf="!temp.listButton && !temp.isHTML">
              {{ renderData[temp.dataIndex] }}
            </div>
            <div *ngIf="temp.isHTML">
              <div *ngIf="renderData[temp.dataIndex]" nz-icon [nzType]="'check-circle'" [nzTheme]="'twotone'" [nzTwotoneColor]="'#52c41a'" style="font-size: 150%;"></div>
              <div *ngIf="!renderData[temp.dataIndex]" nz-icon [nzType]="'close-circle'" [nzTheme]="'twotone'" [nzTwotoneColor]="'#ff4d4f'" style="font-size: 150%;"></div>
            </div>
            <div *ngIf="temp.listButton">
              <div nz-row>
                <div *ngFor="let btn of renderData[temp.dataIndex]">
                  <button *ngIf="btn.isComfirm" nz-button nzType="primary" [nzDanger]="btn.isDanger"
                    nz-popconfirm nzPopconfirmTitle="{{btn.tip}}" nzPopconfirmPlacement="top" (nzOnConfirm)="btn.fn()"
                    style="margin-left: 2px;">
                    <span nz-icon nzType="{{btn.icon}}"></span>
                  </button>
                  <button *ngIf="!btn.isComfirm" nz-button nzType="primary" [nzDanger]="btn.isDanger"
                    (click)="btn.fn()" style="margin-left: 2px;">
                    <span nz-icon nzType="{{btn.icon}}"></span>
                  </button>
                </div>
              </div>
            </div>
          </td>
        </tr>
      </ng-container>
    </tbody>
  </nz-table>
</div>