<div class="payment" #mainScreen>
  <nz-row [nzGutter]="16" class="head-table">
    <div nz-col class="gutter-row pl-0" [nzSpan]="12">
      <h3 style="padding-top: 6px;padding-left: 0;">PAYMENT ({{paginator.total}})</h3>
    </div>
    <div nz-col class="gutter-row filter-group" [nzSpan]="12">
      <app-create-edit-payment #editForm (onSuccess)="onSuccess()"></app-create-edit-payment>
      <button nz-button nzType="default" class="second-background" (click)="onExport()">
        <span nz-icon nzType="download"></span>
        Export excel
      </button>
    </div>
  </nz-row>
  <div class="filter">
    <app-filter-payment (onFilter)="onFilter($event)"></app-filter-payment>
  </div>
  <nz-table 
    (nzQueryParams)="tableChange($event)" 
    [nzScroll]="{ y: 'calc(100vh - 310px)' }" 
    #tablePayment 
    [nzTotal]="paginator.total" 
    [nzPageSize]="paginator.limit" 
    [nzPageIndex]="paginator.currentPage" 
    nzOuterBordered 
    [nzData]="listPayment" 
    nzTableLayout="fixed" 
    [nzLoading]="tableLoading"
    nzShowSizeChanger
    [nzFrontPagination]="false"
    >
    <thead>
      <tr>
        <th [nzSortFn]="true" [nzColumnKey]="'id'">ID</th>
        <th [nzSortFn]="true" [nzColumnKey]="'customer'">Username</th>
        <th [nzSortFn]="true" [nzColumnKey]="'email'">Email</th>
        <th [nzSortFn]="true" [nzColumnKey]="'usd'">USD</th>
        <th [nzSortFn]="true" [nzColumnKey]="'type'">Type</th>
        <th [nzSortFn]="true" [nzColumnKey]="'coin'">Coin</th>
        <th [nzSortFn]="true" [nzColumnKey]="'status'">Status</th>
        <th [nzSortFn]="true" [nzColumnKey]="'createdAt'">Created At</th>
        <th>Action</th>
      </tr>
    </thead> 
    <tbody *ngIf="listPayment?.length > 0">
      <ng-container *ngFor="let data of tablePayment.data">
        <tr>
          <td>{{ data.id }}</td>
          <td>{{ data.customer?.username }}</td>
          <td>{{ data.customer?.email }}</td>
          <td>{{ data.usd }}</td>
          <td>{{ PaymentTypeTrans(data.type) }}</td>
          <td>{{ data.coin }}</td>
          <td>
            <nz-tag [nzColor]="'green'" *ngIf="data.status==1">PAID</nz-tag>
            <nz-tag [nzColor]="'red'" *ngIf="data.status==2">UNPAID</nz-tag>
          </td>
          <td>{{ data.createdAt }}</td>
          <td>
            <button nz-button nzType="primary" (click)="onEdit(data)" >
              <span nz-icon nzType="edit"></span>
            </button>
            <button nz-button nzType="primary" nzDanger
              nz-popconfirm
              [nzPopconfirmTitle]="'Are you sure delete this task?'"
              nzPopconfirmPlacement="bottom"
              (nzOnConfirm)="onDelete(data.id)"
            >
              <span nz-icon nzType="delete"></span>
            </button>
          </td>
        </tr>
      </ng-container>
    </tbody>
  </nz-table>
</div>
