<form [formGroup]="filterForm" style="margin-top: 20px;">
  <h4>Filter</h4>
  <div nz-row [nzGutter]="16">
    <div nz-col class="gutter-row" [nzSpan]="8">
      <nz-form-item>
        <nz-form-label [nzSpan]="'vertical'">Email</nz-form-label>
        <nz-input-group>
          <input formControlName="email" nz-input type="text" placeholder="Email" />
        </nz-input-group>
      </nz-form-item>
    </div>
    <div nz-col class="gutter-row" [nzSpan]="8">
      <nz-form-item>
        <nz-form-label [nzSpan]="'vertical'">Tên</nz-form-label>
        <nz-input-group>
          <input formControlName="name" nz-input type="text" placeholder="Tên" />
        </nz-input-group>
      </nz-form-item>
    </div>
    <div nz-col class="gutter-row" [nzSpan]="8">
      <nz-form-item>
        <nz-form-control>
          <nz-form-label [nzSpan]="'vertical'">Quyền</nz-form-label>
          <nz-select formControlName="role">
            <nz-option *ngFor="let item of roleList" nzLabel="{{item.name}}" nzValue="{{item.value}}">
            </nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>
  <nz-space style="float: right; margin-bottom: 20px;">
    <button *nzSpaceItem nz-button nzType="primary" (click)="onApply()">
      <span nz-icon nzType="search"></span>
      Search
    </button>
    <button *nzSpaceItem nz-button (click)="onRefresh()">
      <span nz-icon nzType="undo" nzTheme="outline"></span>
      Reset
    </button>
  </nz-space>
</form>