.ant-row {
    width: 100%;
    margin: 0 !important;
}
.filter {
    margin-bottom: 16px;
}
[nz-button] {
    margin-right: 8px;
    margin-bottom: 12px;
}
.ant-picker-range {
    width: 100%;
}
.filter-group {
    padding-top: 16px;
    display: flex;
    justify-content: end;
    padding-right: 0 !important;
}
.ant-divider-horizontal.ant-divider-with-text {
    margin: 0 !important;
}
