.form {
    margin-top: 250px;
    background: white;
    padding: 32px;
    padding-bottom: 15px;
    border-radius: 8px;
}
.login-page {
    // background-image: url("../../../../assets/bg.jpg");
    background-repeat: no-repeat;
    height: 100%;
    background-size: cover;
    .title {
        font-size: 32px;
        margin-bottom: 24px;
    }
    .ant-btn-primary {
        margin-top: 8px;
    }
}